registry=https://packages-dev.vertx.cloud/
//packages-dev.vertx.cloud/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6W10sIm5hbWUiOiJzdHVkaW9NRkIiLCJncm91cHMiOlsiJGFsbCIsIkBhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhdXRoZW50aWNhdGVkIl0sImlhdCI6MTY5OTM3MzgzMCwibmJmIjoxNjk5MzczODMwLCJleHAiOjE3MzA5MDk4MzB9.RDDKTUH-PWnMm1Icbk3dsmTijmTjjrGIw8bOvPKHYCM
