:root {
  --menu__title--txt: rgb(65, 62, 58);
  --menu--bkg: #2b2c31;
}

@media (prefers-color-scheme: dark) {
  :root {
    --menu__title--txt: rgb(61, 61, 61);
    --menu--bkg: #2b2c31;
  }
}


html {
  box-sizing:border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: #17181b;
  overflow: hidden;
}

.app {
  position: fixed;
  display: flex;

  /* grid-template:  */
  /* "main" 90%; */
  /* "menu" 6rem; */

  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}

.modelViewer {
  /* grid-area: main; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #17181b;
}