body{
    overflow: hidden;
    background-color: #000000;
}

canvas.dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 620px;
    /*width: 100%;*/
    /*height: 100%;*/
}

/*
#dotGlow {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}
*/
