body{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    background-color: white;
}

div {
    background-color: white;
}

#butCounter {
    margin-top: 10%;
    width: 300px;
    height: 70px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 10px;
    outline:none;
}

#butCounter:hover {
    color: white;
    background-color: pink;
}

#butCounter:active {
    border: none;
    background-color: orange;
}

#butCounterTxt {
    color: black;
}
