body{
  animation-name: background;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}
.welcome {
  font-size: 500px;
     font-weight: bold;
     font-family: monospace;
     }
          a:link{
            position: relative;
            animation-name: scroll;
            animation-duration: 10s;
            animation-fill-mode: forwards;
            text-decoration: none;
          }

          @keyframes scroll {
            0%   {color:pink; left:500px;}
            100% {color:white; left:-700px;}
          }
             @keyframes background {
               0%   {background-color:white;}
               100% {background-color:pink;}
             }
