.wrapper{
  padding-top:15px;
  padding-left: 80px;
  padding-right: 40px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns:repeat(3,299px);
  grid-template-rows:repeat(3,199px);
  grid-gap: 6em;
  /*grid-auto-rows:100px;*/
  /*grid-auto-row: minmax(auto, auto);*/
  /*justify-item: start;*/
  /*align-items: stretch;*/
}

img{
  height: 200px;
  width: 300px;
}

#popUpBoxe{
  height: 0px;
  width: 0px;
  overflow: auto;
  position: absolute;
}

#popUpBoxe1{
  height: 0px;
  width: 0px;
  overflow: auto;
  position: absolute;
}

.box1{
  height: 408px;
  width: 648px;
  box-shadow: 11px 11px 30px -5px #4169E1;
}

.box2{
  height: 408px;
  width: 648px;
  box-shadow: 9px 9px 30px 5px #FFCBC1;
}
