.popup{
    position:absolute;
    top: 20%;
    left: 30%;
    width:650px;
    height:410px;
    display:none
}

.cancel{
    position:absolute;
    top: 4px;
    right: 10%;
    /*display:relative;*/
    cursor:pointer;
    height:10px;
    width:14px;
    text-align:center;
    font-weight: lighter;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffe6e6;
    font-size: 80px;
  /*  z-index:100000000000000000; */
}
