.wrapper {
    padding-top: 15px;
    padding-left: 80px;
    padding-right: 40px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 299px);
    grid-template-rows: repeat(3, 199px);
    grid-gap: 6em;
    /*grid-auto-rows:100px;*/
    /*grid-auto-row: minmax(auto, auto);*/
    /*justify-item: start;*/
    /*align-items: stretch;*/
}

img {
    cursor: pointer;
    width: 300px;
    height: 200px;
}

#box {
    width: 648px;
    height: 408px;
}
.popupBox {
    width: 660px;
    height: 430px;
    overflow: hidden;
    position: absolute;
}
#box5_Text {
    margin-top: 415px;
    margin-left: 9px;
    width: 574px;
    height: 30px;
    padding-top: 7px;
    padding-left: 75px;
    font-family: 'Roboto', sans-serif;
    font-size:19px;
    color: #FFFFFF;
    background-color: #345789;
}
