.wrapper {
    /* padding-top: 15px;
    padding-left: 80px;
    padding-right: 40px;
    padding-bottom: 10px; */
    /* display: grid; */
    /* grid-template-columns: repeat(3, 299px); */
    /* grid-template-rows: repeat(3, 199px); */
    /* grid-gap: 6em; */
    /*grid-auto-rows:100px;*/
    /*grid-auto-row: minmax(auto, auto);*/
    /*justify-item: start;*/
    /*align-items: stretch;*/
}