.wrapper{
  padding-top:15px;
  padding-left: 60px;
  padding-right: 40px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:repeat(2,1fr);
  grid-gap: 5em;
  /*grid-auto-rows:100px;*/
  grid-auto-row: minmax(100px, auto);
  justify-item: start;
  align-items: stretch;
}

img{
  height: 300px;
  width: 500px;
}

.box1{
  height:300px;
  width: 500px;
  box-shadow: 9px 9px 30px 5px #FFCBC1;
}

.box2{
  height:300px;
  width: 500px;
  box-shadow: 9px 9px 30px -2px #4169E1;
}
